body {
    background: linear-gradient(#C2E7EC, #FCDEE8) fixed;
}

.main {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #F8F2E8;
}

.hidden {
    display: none;
}

.placeholder-logo {
    display: block;
    width: 75px;
    margin: 200px auto 0;
}